<div class="row">
    <div class="twelve columns">
        <h4>About me</h4>
        <p><strong>Not available for hire.</strong></p>

        <p>Software/Web Developer and Technical Architect specialising in scalable, modern, cloud based web applications.</p>

        <p>I have a wide range of industry experience, public and private, including Broadcast Media, Government, Retail and Digital Agencies developing bespoke business critical applications.</p>

        <p>Companies I've worked with include: The BBC, The Department for Work and Pensions (DWP), Sofaworks, CSL Sofas, Liverpool John Lennon Airport, Persil, McBride Group, Advanced Foster Group, Wigan & Leigh College, Barton Park and Just 4 Rugby.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4><a href="http://blog.jacob.uk.com">Recent blog posts:</a></h4>

        <ul class="blog-posts">
	        {{#each posts}}
			    <li>
			    	<article>	
				    	<a href="http://blog.jacob.uk.com{{this.href}}">{{@key}}</a>
				    	<p>{{this.excerpt}}<p>
				    </article>
			    </li>
			{{/each}}
		</ul>

		<small>Read my entire blog over at <a href="http://blog.jacob.uk.com">http://blog.jacob.uk.com</a>.</small>
    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4><a href="http://github.com/imjacobclark">Open Source:</a></h4>
			<p>So far I have contributed to <strong>{{repositories.projects}}</strong> open source projects on GitHub. Out of those projects <strong>{{repositories.forks}}</strong> were forked, including {{#each repositories.forkedProjects}}<strong><a href="{{this}}">{{@key}}</a>{{#if @last}}.{{else}},{{/if}} </strong>{{/each}}</p>

			<p>Development languages include: {{#each repositories.languages}}<strong>{{@key}}{{#if @last}}.{{else}},{{/if}} </strong>{{/each}}</p>
		</ul>

		<small>Check me out on GitHub <a href="http://github.com/imjacobclark">http://github.com/imjacobclark</a>.</small>
    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4><a href="http://github.com/imjacobclark">Recent GitHub activity:</a></h4>

        <ul class="github-activity-posts">
	        {{#each github}}
			    <li class="one-half column post">
			    	<article>	
				    	<p>
							<strong>Repository:</strong> <a href="http://github.com/{{this.repo.name}}">{{this.repo.name}}</a><br/> 
							<strong>Branch:</strong> {{this.payload.ref}}<br/> 
					    	<strong>Date:</strong> {{this.created_at}}<br/>
					    	<strong>Commit:</strong> {{this.payload.commits.0.message}}
				    	<p>
				    </article>
			    </li>
			{{/each}}
		</ul>
    </div>
</div>