<div class="row">
    <div class="twelve columns">
        <h4>About me</h4>
        <p><strong>Not available for hire.</strong></p>

        <p>Software/Web Developer and Technical Architect specialising in scalable, modern, cloud based web applications.</p>

        <p>I have a wide range of industry experience, public and private, including Broadcast Media, Government, Retail and Digital Agencies developing bespoke business critical applications.</p>

        <p>Companies I've worked with include: The BBC, The Department for Work and Pensions (DWP), Sofaworks, CSL Sofas, Liverpool John Lennon Airport, Persil, McBride Group, Advanced Foster Group, Wigan & Leigh College, Barton Park and Just 4 Rugby.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4>Recent blog posts:</h4>

        <ul class="blog-posts">
	        {{#each posts}}
			    <li>
			    	<article>	
				    	<a href="http://blog.jacob.uk.com{{this.href}}">{{@key}}</a>
				    	<p>{{this.excerpt}}<p>
				    </article>
			    </li>
			{{/each}}
		</ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="twelve columns">
        <h4>Recent <a href="http://github.com/imjacobclark">GitHub</a> activity:</h4>

        <ul class="github-activity-posts">
	        {{#each github}}
			    <li>
			    	<article>	
				    	<p><strong>Repository:</strong> <a href="http://github.com/{{this.repo.name}}">{{this.repo.name}}</a> - <strong>Branch:</strong> {{this.payload.ref}} - <strong>Commit:</strong> {{this.payload.commits.0.message}}<p>
				    </article>
			    </li>
			{{/each}}
		</ul>
    </div>
</div>